*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Press Start 2p', monospace;
    color: #ff0000;
}

p, ul, li ,span {
    font-family: 'VT323', monospace;
}

body {
    font-family: 'VT323', monospace;
    background-color: #180000;
    color: white;
    line-height: 1.5;
}

.header {
    background-color: black;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-controls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dropdown {
    position: relative;
    background: black;
    border: 1px solid lightcoral;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.date-picker {
    background: black;
    border: 1px solid lightcoral;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.export-btn {
    background: firebrick;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.main-content {
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 350px;
    gap: 2rem;
    margin-bottom: 2rem;
}

.card {
    background: coral;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #a00000;
}

.card-menu {
    background: none;
    border: none;
    color: #180000;
    cursor: pointer;
    padding: 0.25rem;
}

.amount {
    color: #180000;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-family: 'Press Start 2p', monospace;
}

.change {
    font-size: 0.875rem;
    color: brown;
    align-items: center;
    gap: 0.25rem;
    display: flex;
}